@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif !important;

  background:black!important;
}

@media (max-width: 576px) {
  .banner {
    background-image: url("./assets/background.jpg");
    align-items: flex-start;
    height: 400px;
  }
}
